apiVersion: tinkerbell.org/v1alpha1
kind: Workflow
metadata:
  name: "{{ .Mac | replaceColonsWithHyphens }}-hello-world-{{ .RandomSuffix }}"
  namespace: tinkerbell
  labels:
    colony.konstruct.io/job-id: "{{ .RandomSuffix }}"
spec:
  hardwareMap:
    device_1: "{{ .Mac }}"
  hardwareRef: "{{ .Mac | replaceColonsWithHyphens }}"
  templateRef: hello-world
