apiVersion: v1
kind: Namespace
metadata:
  name: tinkerbell
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: colony
  namespace: tinkerbell
spec:
  repo: https://charts.konstruct.io
  chart: colony
  targetNamespace: tinkerbell
  version: 0.2.2-rc47
  valuesContent: |-
    colony-api:
      imagePullSecrets:
        - name: docker-config
      envFrom:
        - secretRef:
            name: colony-api-secrets
    colony-ui:
      imagePullSecrets:
        - name: docker-config
      apiURL : "something"
      authURL : "something"
      
    colony-agent:
      extraEnv:
        COLONY_API_URL: https://colony-api.konstruct.io
        LOAD_BALANCER: {{ .LoadBalancerIP }}
        TALOS_URL_FILES_SOURCE: http://{{ .LoadBalancerIP }}:8080
        DATA_CENTER_ID: {{ .DataCenterID }}
        AGENT_ID: {{ .AgentID }}
        COLONY_API_URL: {{ .ColonyAPIURL }}
        GITLAB_TOKEN: {{ .GitlabToken }}
        APIGO_TOKEN : {{ .APIToken }}
        DOCKER_TOKEN: {{ .DockerToken }}
        CSE_INSTALLER_IMAGE: {{ .CSEInstallerImage }}
      extraEnvSecrets:
        API_TOKEN:
          key: api-key
          name: colony-api
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: tinkerbell
  namespace: tinkerbell
spec:
  chart: oci://ghcr.io/tinkerbell/charts/tinkerbell
  targetNamespace: tinkerbell
  version: v0.20.1
  valuesContent: |-
    trustedProxies:
    - 10.42.0.0/24
    publicIP: {{ .LoadBalancerIP }}
    artifactsFileServer: {{ .LoadBalancerIP }}
    deployment:
      envs:
        tinkServer:
          autoDiscoveryEnabled: true
          autoDiscoveryNamespace: tinkerbell
        smee:
          dhcpMode: auto-proxy
    service:
      kubevip:
        interface: {{ .LoadBalancerInterface }}
    optional:
      hook:
        scriptImage: mirror.gcr.io/bash:5.2.37

