apiVersion: v1
kind: Secret
metadata:
  name: "{{ .IP  | replaceDotsWithDash }}"
  namespace: tink-system
  labels:
    colony.konstruct.io/name: "{{ .IP  | replaceDotsWithDash }}"
    colony.konstruct.io/type: "ipmi-auth"
type: Opaque
data:
  username: "{{ .Username | base64Encode }}"
  password: "{{ .Password | base64Encode }}"
