apiVersion: v1
kind: Secret
metadata:
  name: "{{ .HardwareID }}-ipmi-auth"
  namespace: tink-system
  labels:
    colony.konstruct.io/hardware-id: "{{ .HardwareID }}"
type: Opaque
data:
  username: "{{ .Username | base64Encode }}"
  password: "{{ .Password | base64Encode }}"
